// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/css/font-awesome.css";

// checkbox
@import 'checkbox';

// checkbox
@import 'quill';

//rn fonts
@import '../fonts/renault/font.css';

body{
    font-family: 'Renault-regular';
}
.cursor-pointer{
    cursor: pointer;
}

.big-font{
    font-size: $bigFont;
}

.medium-font{
    font-size: $mediumFont;
}

.small-font{
    font-size: $smallFont;
}

.bg-gray{
    background: rgb(245, 245, 245);
}
.border-top, .border-bottom{
    border-color: rgb(245, 245, 245);
}
.border-bottom-dashed-grey{
    border-bottom: dashed #ccc 1px;
}
.border-top-dashed-grey{
    border-top: dashed #ccc 1px;
}
.car-link{
    color: inherit !important;
}
.car-link:hover{
    text-decoration: none;
    color: inherit !important;
}
.btn-renault{
    background: $rncolor;
    color:#333;
}

.btn-grey{
    background-color: #eee;
    color: #333;
}
.btn-grey:hover{
    background-color: #ddd;
}


.back-tradein{
    background: url('/tradein.jpg');
    background-size: cover;
    background-position:bottom;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000;
}
.tradein-step .tradein-stepicon{
    display: inline-block;
    background: #999;
    color: #ddd;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-style:normal;
}

.tradein-form input, .tradein-form textarea, .tradein-form select{
    background: #fff;
    border: 0px;
    border-radius: 0px;
    font-size: $mediumFont;
}

.back-testdrive{
    background: url('/test.jpg');
    background-size: cover;
    background-position:center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ddd;
}
.testdrive-form input, .testdrive-form textarea, .testdrive-form select{
    background: #fff;
    border: 0px;
    border-radius: 0px;
    font-size: $mediumFont;
}

